*.1
*.a
*.big
*.bin
*.bz2
*.elias
*.ftm
*.gcda
*.gcno
*.gcov
*.gz
*.gz
*.htm
*.lzp
*.lzss
*.mtf
*.o
*.out
*.plz
*.rle
*.saile
*.smol
*.tar
*.tbl
*.tgz
*.tmp
*.txt
*.txz
*.wle
*.xz
*.xz
fuzz/*
mtf
shrink
